{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <div class="profile">
        <div class="profile-info">
            <img src="{{ user_icon.url }}">
            {% if user.username != request.user.username %}
                <a href="{% url 'main:chat' user_id=user.pk %}">Send a message</a>
            {% else %}
                <a href="{% url 'account:settings_profile' %}">Settings</a>
                <a href="{% url 'account:create_post' %}">New post</a>
            {% endif %}
        </div>
        <div class="profile-statistics">
            <h2>{{ user_posts|length }} post{{ user_posts|pluralize }}</h2>
            <h2>{{ all_likes }} like{{ all_likes|pluralize }}</h2>
        </div>
        <div class="profile-posts">
            {% for user_post in user_posts %}
                <a href="{% url 'account:detail_post' post_id=user_post.id %}">
                    <img src="{{ user_post.photo.url }}">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
