@import url(//fonts.googleapis.com/css?family=Muli);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif; 
    font-weight:normal; 
}

h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
    text-align: center;
}

h2 {
    margin:30px 0 20px;
}

.main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.content {
    position: absolute;
    border: 1px solid black;
    height: 90%;
    width: 500px;
}

.authorization-form {
    width: 80%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

.authorization-form label {
    float:left;
    clear:both;
    font-size: 22px;
}

.authorization-form input{
    clear: both;
    margin: 0 0 20px;
    background: #efefef;
    border: 1px solid black;
    padding: 8px 5px;
    font-size: 16px;
    width: 97%;
}

.authorization-form input[type=submit] {
    font-weight: bold;
    border: 0;
    background: darkcyan;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
}

.authorization-form li {
    color: #cc0033;
    float: left;
    clear: both;
    padding: 0 0 20px 0;
}

.authorization-form a {
    text-decoration: none;
    margin-top: -25px;
    font-size: 18px;
}

.authorization-form a:hover {
    color: rgb(0, 0, 150);
}

.authorization-form p {
    font-size: 22px;
}

.authorization-form p a {
    font-size: 22px;
}

.authorization-form textarea {
    resize: none;
}

.authorization-form #reset-password {
    float: right;
}

.authorization-form #sign-up {
    float: left;
}

.bottom-panel {
    position: absolute;
    border-top: 1px solid #bbb;
    width: 100%;
    bottom: 5px;
}

.bottom-panel a {
    color: white;
}

.bottom-panel img {
    height: 60px;
    width: 60px;
    padding: 5px 52px 0 52px;
}

.selected {
    border-top: 3px solid black;
}

.profile {
    overflow-y: scroll;
    height: 450px;
}

.profile-info img {
    margin-left: 15px;
    height: 125px;
}

.profile-info a {
    position: relative;
    bottom: 90px;
    left: 10px;
    text-decoration: none;
    background: rgb(75, 210, 255);
    color: black;
    font-family: 'Muli', sans-serif; 
    font-size: 20px;
    font-weight: 600;
    padding: 6px 10px 10px 10px;
    border-radius: 15px;
}

.profile-posts a {
    text-decoration: none;
}

.profile-posts img {
    object-fit: cover;
    margin: 15px;
    height: 205px;
    width: 205px;
}

.detail-post img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.detail-post a {
    position: relative;
    bottom: 235px;
    left: 10px;
    text-decoration: none;
    background: rgb(75, 210, 255);
    color: black;
    font-family: 'Muli', sans-serif; 
    padding: 4px 14px 6px 14px;
    border-radius: 15px;
}

.detail-post h3 {
    position: relative;
    bottom: 275px;
    left: 15px;
}

.post-description {
    position: relative;
    overflow-y: scroll;
    height: 250px;
    left: 260px;
    bottom: 250px;
}

.post-description h2 {
    word-wrap: break-word;
    width: 230px;
    font-size: 30px;
    margin-top: -10px;
}
